/*
    Theme Name: Zajebisty Motyw Sklepu Gutka Wersja Druga
    Author: Maciej Kułak
    Author URI: https://www.kułak.cba.pl
    Description: Zajebisty
    Version: 2.1
    License: GNU General Public License v2 or later
    License URI: http://www.gnu.org/licenses/gpl-2.0.html
*/
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap);

body {
    font-family: 'Source Sans Pro';
}
.custom-padding p{
    padding-bottom: 0.5rem;
}
.menu-custom-padding li{
    padding-left: 1rem;
    padding-right: 1rem;
}
/* Podświetlanie menu */
.current_page_item{
    color: grey;
}
.menu-item:hover{
    color: lightsteelblue;
}

/* Menu mobilne */
.mobile-menu{
    padding: 2rem;
    text-align: center;
}
.mobile-menu li{
    color: white;
    font-size: 2rem;
    /* text-align: center; */
}
.mobile-menu button{
    color: white;
    font-size: 2rem;
   /*  text-align: center; */
}

/* Woocommerce */

.product_title{
    font-size: 2.5rem;
}
.custom-price{
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size:2rem;
}
.quantity{
    padding: 0.5rem;
    border-width: 1px;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    margin: 0 0 0 0 !important;
}
.single_add_to_cart_button{
    padding: 0.8rem !important;
    background-color: #3D9970 !important;
    border-top-right-radius: 1rem !important;
    border-bottom-right-radius: 1rem !important;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}

/* Functional block (in product) */
.functional-block h1{
    font-size: 2em;
}
.functional-block h2{
    font-size: 1.5em;
}
.functional-block h3{
    font-size: 1.17em;
}
.functional-block h4{
    font-size: 1em;
}

/* Cart */
.woocommerce-cart-form{
    padding:1rem;

}
td .quantity{
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}
.cart_totals {
    float: none !important;
    width:100% !important;
    padding:1rem;
}
.cart_totals h2{
    display: none;
}
.checkout-button{
    background-color: #3D9970 !important;
}

/* CheckOut */
span .input-text {
    border-width: 1px;
    padding: 1rem;
}
.woocommerce-billing-fields__field-wrapper{
    padding: 1rem;
}
.col-2 .woocommerce-shipping-fields{
    padding: 1rem;
}
.col-2 .woocommerce-additional-fields{
    padding: 1rem;
}
.woocommerce-checkout-review-order{
    padding:1rem;
}
#place_order{
    background-color: #3D9970;
}

/* Order */
.woocommerce-order{
    padding: 1rem;
}

.woocommerce-product-gallery__image img{
    width: auto !important;
}

h1{
    font-size: 2em;
}
h2{
    font-size: 1.5em;
}
h3{
    font-size: 1.17em;
}
h4{
    font-size: 1em;
}





